<div class="backgroundlogin">

<div class="logInBox" >
    
            <form action="/auth/login" method="POST" id="form">

                <div class="usernamelogin">

                    <div class="logInInput">
                        
                        <input type="text" value="" name="username" placeholder="Username">
                    </div>

                    <div class="logInInput">
                        <input type="password" value="" name="password" placeholder="Password">

                    </div>

                </div>
                    {{#if errorMessage }}
                        <div class="error-message">{{ errorMessage }}</div>
                    {{/if}}

                    <button type="submit" class="buttonlogin" >log in</button>
           </form>  
     

</div>

</div>



<p class="account-message"> Join us <a href="/auth/signup">Sign up</a></p>
   
