<div class="backgroundlogin">

    <div class="signUpBox">

        <form id="form" action="/auth/login" method="POST" id="form">

            <div class="logInInput">
                <input required type="text" name="username" placeholder="Username">
            </div>



            <div class="logInInput">
                <input required type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="buttonlogin">Login</button>
        </form>
        <a class="white-text" href="/auth/signup">Not a member? <strong>Sign Up</strong> </a>
    </div>

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}


</div>