<div class="backgroundlogin">
    
        <div class="signUpBox">

            <form id="form" action="/auth/signup" method="POST">

                <div class="logInInput">
                    <input required type="text"  name="username" placeholder="username">
                </div>

                <div class="logInInput">
                    <input required type="text" name="email" placeholder="Your email">
                </div>
               
                <div class="logInInput">
                    <input required type="password" name="password" placeholder="password">
                </div>
            
                <div class="radio">
                <input type="radio" name="gender" value="male" > <span>Male</span>  <br>
                <input type="radio" name="gender" value="female" > <span>Female</span> <br>
                <input type="radio" name="gender" value="other" > <span>Other</span>  
                </div>
                


                <button type="submit"  class="buttonlogin">Create account </button>
            </form>
        </div>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

<a href="/auth/login">Login</a>

</div>



