{{!-- <div class="bg-image"></div> --}}
<section class="index-section">
    <div class="index-buttons">
        <img class="logo" src="../images/done.png" alt="logo">
        <article class="title-index">
            <h1 class="Redto">Join the movement to change your life!</h1>
        </article>
        <button><a href="auth/signup">Register</a></button>
        <button><a href="auth/login">Log in</a></button>
    </div>
</section>