<div class="bg-image"></div>

<img class="logo" src="../images/done.png" alt="logo">

<section class="index-section">

    <article class="title-index">
        <div>Join the movement</div>
        <div><span class="Redto">To</span></div>
        <div>Change your life!</div>
    </article>


    <div class="index-buttons"> 
        <button><a href="auth/signup">Register</a></button>
        <button ><a href="auth/login">Log in</a></button>
    </div>
</section>

