<section class="index-section">

    <h1 class="title-index">It's time to fit!</h1>
    <img class="logo" src="../images/logo.png" alt="logo">


    <p class="SeeOurExercices">Look for our exercices!<span><a href="auth/signup">Signup</a></span></p>


    <a href="auth/login">Log in</a>

</section>