<div class="bg-image"></div>

<section class="index-section">

    <h1 class="title-index">Join the movement</h1>

    <img class="logo" src="../images/done.png" alt="logo">


    <p class="SeeOurExercices">Look for our exercices!<span><a href="auth/signup">Signup</a></span></p>


    <a href="auth/login">Log in</a>

</section>