{{>navbar}}
<h1>Exercice</h1>

<div>
    <h2>{{title}}</h2>
    <img src="{{image}}" alt="">
    <p>{{description}}</p>

</div>




<a href="/private/home">Return Exercises</a>

{{>footer}}