{{>navbar}}

<section>
    <div class="title-page homedeborrar">
        <h1>Edit profile</h1>
    </div>
    <div id="main">
        <form id="frm" action="/private/profile/edit" method="post">
            <div>
                <label for="">Email:</label> 
            </div>          
            <div>
                <input type="text" name="email" value="{{user.email}}">
            </div>
            <br>

            <div>
                <label for="">Age:</label> 
            </div>         
            <div>
                <input type="text" name="age" value="{{user.age}}">
            </div>
            <br>

            <div>
                <label for="">Height:</label> 
            </div>
            <div>
                <input type="text" name="height" value="{{user.height}}">
            </div>
            <br>
            <div>
                <label for="">Weight:</label> 
            </div>
            <div>
            <input type="text" name="weight" value="{{user.weight}}">
            </div>
            <br>
            <div>
            <button type="submit">EDIT</button>
            </div>
        </form>
    </div>

    <p><a href="/private/profile">Return profile</a></p>

</section>

   {{>footer}}