<form action="/private/profile/edit" method="post">
    <label for="">Email:</label>
    <input type="text" name="email" value="{{user.email}}">

    <label for="">age:</label>
    <input type="text" name="age" value="{{user.age}}">

    <label for="">Height:</label>
    <input type="text" name="height" value="{{user.height}}">

    <label for="">Weight:</label>
    <input type="text" name="weight" value="{{user.weight}}">

    <button type="submit">EDIT</button>
</form>

