{{>navbar}}

<div class="routine-form">
    <h1>Add Routine</h1>

    <form action="/routines/add" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title">

        <label for="description">Description:</label>
        <textarea rows="4" cols="50" name="description" placeholder="Describe your routine">
</textarea>


        <button class="button-p" type="submit">ADD</button>
    </form>

    <a class="nav-link" href="/private/profile">Return profile</a>

</div>

{{>footer}}